In [1]:
import pandas as pd

In [110]:
train_df=pd.read_csv("/home/somanath/machine/train_u6lujuX_CVtuZ9i.csv")

In [160]:
test_df=pd.read_csv("/home/somanath/machine/test_Y3wMUE5_7gLdaTN.csv")

In [144]:
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [111]:
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [112]:
train_df.isnull().any()

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [113]:
#checking for unique values
for col in train_df.columns:
    print("%s"+str(train_df[col].unique()))%col

Loan_ID['LP001002' 'LP001003' 'LP001005' 'LP001006' 'LP001008' 'LP001011'
 'LP001013' 'LP001014' 'LP001018' 'LP001020' 'LP001024' 'LP001027'
 'LP001028' 'LP001029' 'LP001030' 'LP001032' 'LP001034' 'LP001036'
 'LP001038' 'LP001041' 'LP001043' 'LP001046' 'LP001047' 'LP001050'
 'LP001052' 'LP001066' 'LP001068' 'LP001073' 'LP001086' 'LP001087'
 'LP001091' 'LP001095' 'LP001097' 'LP001098' 'LP001100' 'LP001106'
 'LP001109' 'LP001112' 'LP001114' 'LP001116' 'LP001119' 'LP001120'
 'LP001123' 'LP001131' 'LP001136' 'LP001137' 'LP001138' 'LP001144'
 'LP001146' 'LP001151' 'LP001155' 'LP001157' 'LP001164' 'LP001179'
 'LP001186' 'LP001194' 'LP001195' 'LP001197' 'LP001198' 'LP001199'
 'LP001205' 'LP001206' 'LP001207' 'LP001213' 'LP001222' 'LP001225'
 'LP001228' 'LP001233' 'LP001238' 'LP001241' 'LP001243' 'LP001245'
 'LP001248' 'LP001250' 'LP001253' 'LP001255' 'LP001256' 'LP001259'
 'LP001263' 'LP001264' 'LP001265' 'LP001266' 'LP001267' 'LP001273'
 'LP001275' 'LP001279' 'LP001280' 'LP001282' 'LP001289' 'LP001310'
 'LP001316' 'LP001318' 'LP001319' 'LP001322' 'LP001325' 'LP001326'
 'LP001327' 'LP001333' 'LP001334' 'LP001343' 'LP001345' 'LP001349'
 'LP001350' 'LP001356' 'LP001357' 'LP001367' 'LP001369' 'LP001370'
 'LP001379' 'LP001384' 'LP001385' 'LP001387' 'LP001391' 'LP001392'
 'LP001398' 'LP001401' 'LP001404' 'LP001405' 'LP001421' 'LP001422'
 'LP001426' 'LP001430' 'LP001431' 'LP001432' 'LP001439' 'LP001443'
 'LP001448' 'LP001449' 'LP001451' 'LP001465' 'LP001469' 'LP001473'
 'LP001478' 'LP001482' 'LP001487' 'LP001488' 'LP001489' 'LP001491'
 'LP001492' 'LP001493' 'LP001497' 'LP001498' 'LP001504' 'LP001507'
 'LP001508' 'LP001514' 'LP001516' 'LP001518' 'LP001519' 'LP001520'
 'LP001528' 'LP001529' 'LP001531' 'LP001532' 'LP001535' 'LP001536'
 'LP001541' 'LP001543' 'LP001546' 'LP001552' 'LP001560' 'LP001562'
 'LP001565' 'LP001570' 'LP001572' 'LP001574' 'LP001577' 'LP001578'
 'LP001579' 'LP001580' 'LP001581' 'LP001585' 'LP001586' 'LP001594'
 'LP001603' 'LP001606' 'LP001608' 'LP001610' 'LP001616' 'LP001630'
 'LP001633' 'LP001634' 'LP001636' 'LP001637' 'LP001639' 'LP001640'
 'LP001641' 'LP001643' 'LP001644' 'LP001647' 'LP001653' 'LP001656'
 'LP001657' 'LP001658' 'LP001664' 'LP001665' 'LP001666' 'LP001669'
 'LP001671' 'LP001673' 'LP001674' 'LP001677' 'LP001682' 'LP001688'
 'LP001691' 'LP001692' 'LP001693' 'LP001698' 'LP001699' 'LP001702'
 'LP001708' 'LP001711' 'LP001713' 'LP001715' 'LP001716' 'LP001720'
 'LP001722' 'LP001726' 'LP001732' 'LP001734' 'LP001736' 'LP001743'
 'LP001744' 'LP001749' 'LP001750' 'LP001751' 'LP001754' 'LP001758'
 'LP001760' 'LP001761' 'LP001765' 'LP001768' 'LP001770' 'LP001776'
 'LP001778' 'LP001784' 'LP001786' 'LP001788' 'LP001790' 'LP001792'
 'LP001798' 'LP001800' 'LP001806' 'LP001807' 'LP001811' 'LP001813'
 'LP001814' 'LP001819' 'LP001824' 'LP001825' 'LP001835' 'LP001836'
 'LP001841' 'LP001843' 'LP001844' 'LP001846' 'LP001849' 'LP001854'
 'LP001859' 'LP001864' 'LP001865' 'LP001868' 'LP001870' 'LP001871'
 'LP001872' 'LP001875' 'LP001877' 'LP001882' 'LP001883' 'LP001884'
 'LP001888' 'LP001891' 'LP001892' 'LP001894' 'LP001896' 'LP001900'
 'LP001903' 'LP001904' 'LP001907' 'LP001908' 'LP001910' 'LP001914'
 'LP001915' 'LP001917' 'LP001922' 'LP001924' 'LP001925' 'LP001926'
 'LP001931' 'LP001935' 'LP001936' 'LP001938' 'LP001940' 'LP001945'
 'LP001947' 'LP001949' 'LP001953' 'LP001954' 'LP001955' 'LP001963'
 'LP001964' 'LP001972' 'LP001974' 'LP001977' 'LP001978' 'LP001990'
 'LP001993' 'LP001994' 'LP001996' 'LP001998' 'LP002002' 'LP002004'
 'LP002006' 'LP002008' 'LP002024' 'LP002031' 'LP002035' 'LP002036'
 'LP002043' 'LP002050' 'LP002051' 'LP002053' 'LP002054' 'LP002055'
 'LP002065' 'LP002067' 'LP002068' 'LP002082' 'LP002086' 'LP002087'
 'LP002097' 'LP002098' 'LP002100' 'LP002101' 'LP002103' 'LP002106'
 'LP002110' 'LP002112' 'LP002113' 'LP002114' 'LP002115' 'LP002116'
 'LP002119' 'LP002126' 'LP002128' 'LP002129' 'LP002130' 'LP002131'
 'LP002137' 'LP002138' 'LP002139' 'LP002140' 'LP002141' 'LP002142'
 'LP002143' 'LP002144' 'LP002149' 'LP002151' 'LP002158' 'LP002160'
 'LP002161' 'LP002170' 'LP002175' 'LP002178' 'LP002180' 'LP002181'
 'LP002187' 'LP002188' 'LP002190' 'LP002191' 'LP002194' 'LP002197'
 'LP002201' 'LP002205' 'LP002209' 'LP002211' 'LP002219' 'LP002223'
 'LP002224' 'LP002225' 'LP002226' 'LP002229' 'LP002231' 'LP002234'
 'LP002236' 'LP002237' 'LP002239' 'LP002243' 'LP002244' 'LP002250'
 'LP002255' 'LP002262' 'LP002263' 'LP002265' 'LP002266' 'LP002272'
 'LP002277' 'LP002281' 'LP002284' 'LP002287' 'LP002288' 'LP002296'
 'LP002297' 'LP002300' 'LP002301' 'LP002305' 'LP002308' 'LP002314'
 'LP002315' 'LP002317' 'LP002318' 'LP002319' 'LP002328' 'LP002332'
 'LP002335' 'LP002337' 'LP002341' 'LP002342' 'LP002345' 'LP002347'
 'LP002348' 'LP002357' 'LP002361' 'LP002362' 'LP002364' 'LP002366'
 'LP002367' 'LP002368' 'LP002369' 'LP002370' 'LP002377' 'LP002379'
 'LP002386' 'LP002387' 'LP002390' 'LP002393' 'LP002398' 'LP002401'
 'LP002403' 'LP002407' 'LP002408' 'LP002409' 'LP002418' 'LP002422'
 'LP002424' 'LP002429' 'LP002434' 'LP002435' 'LP002443' 'LP002444'
 'LP002446' 'LP002447' 'LP002448' 'LP002449' 'LP002453' 'LP002455'
 'LP002459' 'LP002467' 'LP002472' 'LP002473' 'LP002478' 'LP002484'
 'LP002487' 'LP002489' 'LP002493' 'LP002494' 'LP002500' 'LP002501'
 'LP002502' 'LP002505' 'LP002515' 'LP002517' 'LP002519' 'LP002522'
 'LP002524' 'LP002527' 'LP002529' 'LP002530' 'LP002531' 'LP002533'
 'LP002534' 'LP002536' 'LP002537' 'LP002541' 'LP002543' 'LP002544'
 'LP002545' 'LP002547' 'LP002555' 'LP002556' 'LP002560' 'LP002562'
 'LP002571' 'LP002582' 'LP002585' 'LP002586' 'LP002587' 'LP002588'
 'LP002600' 'LP002602' 'LP002603' 'LP002606' 'LP002615' 'LP002618'
 'LP002619' 'LP002622' 'LP002624' 'LP002625' 'LP002626' 'LP002634'
 'LP002637' 'LP002640' 'LP002643' 'LP002648' 'LP002652' 'LP002659'
 'LP002670' 'LP002682' 'LP002683' 'LP002684' 'LP002689' 'LP002690'
 'LP002692' 'LP002693' 'LP002697' 'LP002699' 'LP002705' 'LP002706'
 'LP002714' 'LP002716' 'LP002717' 'LP002720' 'LP002723' 'LP002729'
 'LP002731' 'LP002732' 'LP002734' 'LP002738' 'LP002739' 'LP002740'
 'LP002741' 'LP002743' 'LP002753' 'LP002755' 'LP002757' 'LP002767'
 'LP002768' 'LP002772' 'LP002776' 'LP002777' 'LP002778' 'LP002784'
 'LP002785' 'LP002788' 'LP002789' 'LP002792' 'LP002794' 'LP002795'
 'LP002798' 'LP002804' 'LP002807' 'LP002813' 'LP002820' 'LP002821'
 'LP002832' 'LP002833' 'LP002836' 'LP002837' 'LP002840' 'LP002841'
 'LP002842' 'LP002847' 'LP002855' 'LP002862' 'LP002863' 'LP002868'
 'LP002872' 'LP002874' 'LP002877' 'LP002888' 'LP002892' 'LP002893'
 'LP002894' 'LP002898' 'LP002911' 'LP002912' 'LP002916' 'LP002917'
 'LP002925' 'LP002926' 'LP002928' 'LP002931' 'LP002933' 'LP002936'
 'LP002938' 'LP002940' 'LP002941' 'LP002943' 'LP002945' 'LP002948'
 'LP002949' 'LP002950' 'LP002953' 'LP002958' 'LP002959' 'LP002960'
 'LP002961' 'LP002964' 'LP002974' 'LP002978' 'LP002979' 'LP002983'
 'LP002984' 'LP002990']
Gender['Male' 'Female' nan]
Married['No' 'Yes' nan]
Dependents['0' '1' '2' '3+' nan]
Education['Graduate' 'Not Graduate']
Self_Employed['No' 'Yes' nan]
ApplicantIncome[ 5849  4583  3000  2583  6000  5417  2333  3036  4006 12841  3200  2500
  3073  1853  1299  4950  3596  3510  4887  2600  7660  5955  3365  3717
  9560  2799  4226  1442  3750  4166  3167  4692  3500 12500  2275  1828
  3667  3748  3600  1800  2400  3941  4695  3410  5649  5821  2645  4000
  1928  3086  4230  4616 11500  2708  2132  3366  8080  3357  3029  2609
  4945  5726 10750  7100  4300  3208  1875  4755  5266  1000  3333  3846
  2395  1378  3988  2366  8566  5695  2958  6250  3273  4133  3620  6782
  2484  1977  4188  1759  4288  4843 13650  4652  3816  3052 11417  7333
  3800  2071  5316  2929  3572  7451  5050 14583  2214  5568 10408  5667
  2137  2957  3692 23803  3865 10513  6080 20166  2014  2718  3459  4895
  3316 14999  4200  5042  6950  2698 11757  2330 14866  1538 10000  4860
  6277  2577  9166  2281  3254 39999  9538  2980  1863  7933  3089  4167
  9323  3707  2439  2237  8000  1820 51763  3522  5708  4344  3497  2045
  5516  6400  1916  4600 33846  3625 39147  2178  2383   674  9328  4885
 12000  6033  3858  4191  3125  8333  1907  3416 11000  4923  3992  3917
  4408  3244  3975  2479  3418  3430  7787  5703  3173  3850   150  3727
  5000  4283  2221  4009  2971  7578  3250  4735  4758  2491  3716  3189
  3155  5500  5746  3463  3812  3315  5819  2510  2965  3406  6050  9703
  6608  2882  1809  1668  3427  2661 16250  3083  6045  5250 14683  4931
  6083  2060  3481  7200  5166  4095  4708  4333  2876  3237 11146  2833
  2620  3900  2750  3993  3103  4100  4053  3927  2301  1811 20667  3158
  3704  4124  9508  3075  4400  3153  4416  6875  4666  2875  1625  2000
  3762 20233  7667  2917  2927  2507  2473  3399  2058  3541  4342  3601
  3166 15000  8666  4917  5818  4384  2935 63337  9833  5503  1830  4160
  2647  2378  4554  2499  3523  6333  2625  9083  8750  2666  2423  3813
  3875  5167  4723  4750  3013  6822  6216  5124  6325 19730 15759  5185
  3062  2764  4817  4310  3069  5391  5941  7167  4566  2346  3010  5488
  9167  9504  1993  3100  3276  3180  3033  3902  1500  2889  2755  1963
  7441  4547  2167  2213  8300 81000  3867  6256  6096  2253  2149  2995
  1600  1025  3246  5829  2720  7250 14880  4606  5935  2920  2717  8624
  6500 12876  2425 10047  1926 10416  7142  3660  7901  4707 37719  3466
  3539  3340  2769  2309  1958  3948  2483  7085  3859  4301  3708  4354
  8334  2083  7740  3015  5191  2947 16692   210  3450  2653  4691  5532
 16525  6700  2873 16667  4350  3095 10833  3547 18333  2435  2699  5333
  3691 17263  3597  3326  4625  2895  6283   645  3159  4865  4050  3814
 20833  3583 13262  3598  6065  3283  2130  5815  2031  3074  4683  3400
  2192  5677  7948  4680 17500  3775  5285  2679  6783  4281  3588 11250
 18165  2550  6133  3617  6417  4608  2138  3652  2239  3017  2768  3358
  2526  2785  6633  2492  2454  3593  5468  2667 10139  3887  4180  3675
 19484  5923  5800  8799  4467  3417  5116 16666  6125  6406  3087  3229
  1782  3182  6540  1836  1880  2787  2297  2165  2726  9357 16120  3833
  6383  2987  9963  5780   416  2894  3676  3987  3232  2900  4106  8072
  7583]
CoapplicantIncome[  0.00000000e+00   1.50800000e+03   2.35800000e+03   4.19600000e+03
   1.51600000e+03   2.50400000e+03   1.52600000e+03   1.09680000e+04
   7.00000000e+02   1.84000000e+03   8.10600000e+03   2.84000000e+03
   1.08600000e+03   3.50000000e+03   5.62500000e+03   1.91100000e+03
   1.91700000e+03   2.92500000e+03   2.25300000e+03   1.04000000e+03
   2.08300000e+03   3.36900000e+03   1.66700000e+03   3.00000000e+03
   2.06700000e+03   1.33000000e+03   1.45900000e+03   7.21000000e+03
   1.66800000e+03   1.21300000e+03   2.33600000e+03   3.44000000e+03
   2.27500000e+03   1.64400000e+03   1.16700000e+03   1.59100000e+03
   2.20000000e+03   2.25000000e+03   2.85900000e+03   3.79600000e+03
   3.44900000e+03   4.59500000e+03   2.25400000e+03   3.06600000e+03
   1.87500000e+03   1.77400000e+03   4.75000000e+03   3.02200000e+03
   4.00000000e+03   2.16600000e+03   1.88100000e+03   2.53100000e+03
   2.00000000e+03   2.11800000e+03   4.16700000e+03   2.90000000e+03
   5.65400000e+03   1.82000000e+03   2.30200000e+03   9.97000000e+02
   3.54100000e+03   3.26300000e+03   3.80600000e+03   3.58300000e+03
   7.54000000e+02   1.03000000e+03   1.12600000e+03   3.60000000e+03
   2.33300000e+03   4.11400000e+03   2.28300000e+03   1.39800000e+03
   2.14200000e+03   2.66700000e+03   8.98000000e+03   2.01400000e+03
   1.64000000e+03   3.85000000e+03   2.56900000e+03   1.92900000e+03
   7.75000000e+03   1.43000000e+03   2.03400000e+03   4.48600000e+03
   1.42500000e+03   1.66600000e+03   8.30000000e+02   3.75000000e+03
   1.04100000e+03   1.28000000e+03   1.44700000e+03   3.16600000e+03
   3.33300000e+03   1.76900000e+03   7.36000000e+02   1.96400000e+03
   1.61900000e+03   1.13000000e+04   1.45100000e+03   7.25000000e+03
   5.06300000e+03   2.13800000e+03   5.29600000e+03   2.58300000e+03
   2.36500000e+03   2.81600000e+03   2.50000000e+03   1.08300000e+03
   1.25000000e+03   3.02100000e+03   9.83000000e+02   1.80000000e+03
   1.77500000e+03   2.38300000e+03   1.71700000e+03   2.79100000e+03
   1.01000000e+03   1.69500000e+03   2.05400000e+03   2.59800000e+03
   1.77900000e+03   1.26000000e+03   5.00000000e+03   1.98300000e+03
   5.70100000e+03   1.30000000e+03   4.41700000e+03   4.33300000e+03
   1.84300000e+03   1.86800000e+03   3.89000000e+03   2.16700000e+03
   7.10100000e+03   2.10000000e+03   4.25000000e+03   2.20900000e+03
   3.44700000e+03   1.38700000e+03   1.81100000e+03   1.56000000e+03
   1.85700000e+03   2.22300000e+03   1.84200000e+03   3.27400000e+03
   2.42600000e+03   8.00000000e+02   9.85799988e+02   3.05300000e+03
   2.41600000e+03   3.33400000e+03   2.54100000e+03   2.93400000e+03
   1.75000000e+03   1.80300000e+03   1.86300000e+03   2.40500000e+03
   2.13400000e+03   1.89000000e+02   1.59000000e+03   2.98500000e+03
   4.98300000e+03   2.16000000e+03   2.45100000e+03   1.79300000e+03
   1.83300000e+03   4.49000000e+03   6.88000000e+02   4.60000000e+03
   1.58700000e+03   1.22900000e+03   2.33000000e+03   2.45800000e+03
   3.23000000e+03   2.16800000e+03   4.58300000e+03   6.25000000e+03
   5.05000000e+02   3.16700000e+03   3.66700000e+03   3.03300000e+03
   5.26600000e+03   7.87300000e+03   1.98700000e+03   9.23000000e+02
   4.99600000e+03   4.23200000e+03   1.60000000e+03   3.13600000e+03
   2.41700000e+03   2.11500000e+03   1.62500000e+03   1.40000000e+03
   4.84000000e+02   2.00000000e+04   2.40000000e+03   2.03300000e+03
   3.23700000e+03   2.77300000e+03   1.41700000e+03   1.71900000e+03
   4.30000000e+03   1.61200008e+01   2.34000000e+03   1.85100000e+03
   1.12500000e+03   5.06400000e+03   1.99300000e+03   8.33300000e+03
   1.21000000e+03   1.37600000e+03   1.71000000e+03   1.54200000e+03
   1.25500000e+03   1.45600000e+03   1.73300000e+03   2.46600000e+03
   4.08300000e+03   2.18800000e+03   1.66400000e+03   2.91700000e+03
   2.07900000e+03   1.50000000e+03   4.64800000e+03   1.01400000e+03
   1.87200000e+03   1.60300000e+03   3.15000000e+03   2.43600000e+03
   2.78500000e+03   1.13100000e+03   2.15700000e+03   9.13000000e+02
   1.70000000e+03   2.85700000e+03   4.41600000e+03   3.68300000e+03
   5.62400000e+03   5.30200000e+03   1.48300000e+03   6.66700000e+03
   3.01300000e+03   1.28700000e+03   2.00400000e+03   2.03500000e+03
   6.66600000e+03   3.66600000e+03   3.42800000e+03   1.63200000e+03
   1.91500000e+03   1.74200000e+03   1.42400000e+03   7.16600000e+03
   2.08700000e+03   1.30200000e+03   5.50000000e+03   2.04200000e+03
   3.90600000e+03   5.36000000e+02   2.84500000e+03   2.52400000e+03
   6.63000000e+02   1.95000000e+03   1.78300000e+03   2.01600000e+03
   2.37500000e+03   3.25000000e+03   4.26600000e+03   1.03200000e+03
   2.66900000e+03   2.30600000e+03   2.42000000e+02   2.06400000e+03
   4.61000000e+02   2.21000000e+03   2.73900000e+03   2.23200000e+03
   3.38370000e+04   1.52200000e+03   3.41600000e+03   3.30000000e+03
   1.00000000e+03   4.16670000e+04   2.79200000e+03   4.30100000e+03
   3.80000000e+03   1.41100000e+03   2.40000000e+02]
LoanAmount[  nan  128.   66.  120.  141.  267.   95.  158.  168.  349.   70.  109.
  200.  114.   17.  125.  100.   76.  133.  115.  104.  315.  116.  112.
  151.  191.  122.  110.   35.  201.   74.  106.  320.  144.  184.   80.
   47.   75.  134.   96.   88.   44.  286.   97.  135.  180.   99.  165.
  258.  126.  312.  136.  172.   81.  187.  113.  176.  130.  111.  167.
  265.   50.  210.  175.  131.  188.   25.  137.  160.  225.  216.   94.
  139.  152.  118.  185.  154.   85.  259.  194.   93.  370.  182.  650.
  102.  290.   84.  242.  129.   30.  244.  600.  255.   98.  275.  121.
   63.  700.   87.  101.  495.   67.   73.  260.  108.   58.   48.  164.
  170.   83.   90.  166.  124.   55.   59.  127.  214.  240.   72.   60.
  138.   42.  280.  140.  155.  123.  279.  192.  304.  330.  150.  207.
  436.   78.   54.   89.  143.  105.  132.  480.   56.  159.  300.  376.
  117.   71.  490.  173.   46.  228.  308.  236.  570.  380.  296.  156.
  103.   45.   65.   53.  360.   62.  218.  178.  239.  405.  148.  190.
  149.  153.  162.  230.   86.  234.  246.  500.  186.  119.  107.  209.
  208.  243.   40.  250.  311.  400.  161.  196.  324.  157.  145.  181.
   26.  211.    9.  205.   36.   61.  146.  292.  142.  350.  496.  253.]
Loan_Amount_Term[ 360.  120.  240.   nan  180.   60.  300.  480.   36.   84.   12.]
Credit_History[  1.   0.  nan]
Property_Area['Urban' 'Rural' 'Semiurban']
Loan_Status['Y' 'N']

In [114]:
train_null.shape

(601,)

In [115]:
#Removing Null Values
train_df["Gender"]=train_df["Gender"].fillna(method="bfill")
train_df["Married"]=train_df["Married"].fillna(method="bfill")
train_df["Self_Employed"]=train_df["Self_Employed"].fillna(value="No")
train_df["Dependents"]=train_df["Dependents"].fillna(value="0")
train_df["LoanAmount"] = train_df["LoanAmount"].fillna(train_df["LoanAmount"].mean())
train_df["Loan_Amount_Term"] = train_df["Loan_Amount_Term"].fillna(train_df["Loan_Amount_Term"].mean())
train_df["Credit_History"]=train_df["Credit_History"].fillna(value="0.0")

In [116]:
#creating dummy variables
def create_dummies(df,column_name):
    """Create Dummy Columns (One Hot Encoding) from a single Column

    """
    dummies = pd.get_dummies(df[column_name],prefix=column_name)
    df = pd.concat([df,dummies],axis=1)
    return df

In [117]:
cols = [x for x in train_df.columns if x not in ["Loan_ID","ApplicantIncome","CoapplicantIncome","LoanAmount","Loan_Status"]]

In [118]:
cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Loan_Amount_Term',
 'Credit_History',
 'Property_Area']

In [119]:
for col in cols:
    train_df=create_dummies(train_df,col)

In [120]:
train_df.head(1).T

                                0
Loan_ID                  LP001002
Gender                       Male
Married                        No
Dependents                      0
Education                Graduate
Self_Employed                  No
ApplicantIncome              5849
CoapplicantIncome               0
LoanAmount                146.412
Loan_Amount_Term              360
Credit_History                  1
Property_Area               Urban
Loan_Status                     Y
Gender_Female                   0
Gender_Male                     1
Married_No                      1
Married_Yes                     0
Dependents_0                    1
Dependents_1                    0
Dependents_2                    0
Dependents_3+                   0
Education_Graduate              1
Education_Not Graduate          0
Self_Employed_No                1
Self_Employed_Yes               0
Loan_Amount_Term_12.0           0
Loan_Amount_Term_36.0           0
Loan_Amount_Term_60.0           0
Loan_Amount_Term_84.0           0
Loan_Amount_Term_120.0          0
Loan_Amount_Term_180.0          0
Loan_Amount_Term_240.0          0
Loan_Amount_Term_300.0          0
Loan_Amount_Term_342.0          0
Loan_Amount_Term_360.0          1
Loan_Amount_Term_480.0          0
Credit_History_0.0              0
Credit_History_1.0              1
Credit_History_0.0              0
Property_Area_Rural             0
Property_Area_Semiurban         0
Property_Area_Urban             1

In [125]:
##dropping original columns to avoid dummy trap
train_df=train_df.drop(cols,axis=1)
train=train_df.drop("Loan_ID",axis=1)

In [84]:
features=[x for x in train_df.columns if x not in "Loan_Status"]

In [122]:
#making necessary imports for machine learning
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_selection import RFECV
from sklearn.model_selection import GridSearchCV

In [127]:

def select_features(df):
    # Remove non-numeric columns, columns that have null values
    #df = df.select_dtypes([np.number]).dropna(axis=1)
    all_X = df.drop(["Loan_Status"],axis=1)
    all_y = df["Loan_Status"]
    
    clf = RandomForestClassifier(random_state=1)
    selector = RFECV(clf,cv=10)
    selector.fit(all_X,all_y)
    
    best_columns = list(all_X.columns[selector.support_])
    print("Best Columns \n"+"-"*12+"\n{}\n".format(best_columns))
    
    return best_columns

In [128]:
features=select_features(train)

Best Columns
------------
['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Gender_Female', 'Married_No', 'Dependents_0', 'Dependents_1', 'Education_Graduate', 'Self_Employed_Yes', 'Loan_Amount_Term_360.0', 'Credit_History_0.0', 'Credit_History_1.0', 'Credit_History_0.0', 'Property_Area_Semiurban', 'Property_Area_Urban']

In [134]:
def select_model(df,features):
    
    all_X = df[features]
    all_y = df["Loan_Status"]

    # List of dictionaries, each containing a model name,
    # it's estimator and a dict of hyperparameters
    models = [
        {
            "name": "LogisticRegression",
            "estimator": LogisticRegression(),
            "hyperparameters":
                {
                    "solver": ["newton-cg", "lbfgs", "liblinear"]
                }
        },
        {
            "name": "KNeighborsClassifier",
            "estimator": KNeighborsClassifier(),
            "hyperparameters":
                {
                    "n_neighbors": range(1,20,2),
                    "weights": ["distance", "uniform"],
                    "algorithm": ["ball_tree", "kd_tree", "brute"],
                    "p": [1,2]
                }
        },
        {
            "name": "RandomForestClassifier",
            "estimator": RandomForestClassifier(random_state=1),
            "hyperparameters":
                {
                    "n_estimators": [4, 6, 9],
                    "criterion": ["entropy", "gini"],
                    "max_depth": [2, 5, 10],
                    "max_features": ["log2", "sqrt"],
                    "min_samples_leaf": [1, 5, 8],
                    "min_samples_split": [2, 3, 5]

                }
        }
    ]
    for model in models:
        print(model['name'])
        print('-'*len(model['name']))

        grid = GridSearchCV(model["estimator"],
                            param_grid=model["hyperparameters"],
                            cv=4)
        grid.fit(all_X,all_y)
        model["best_params"] = grid.best_params_
        model["best_score"] = grid.best_score_
        model["best_model"] = grid.best_estimator_

        print("Best Score: {}".format(model["best_score"]))
        print("Best Parameters: {}\n".format(model["best_params"]))

    return models

In [135]:
 select_model(train_df,features)

LogisticRegression
------------------
Best Score: 0.806188925081
Best Parameters: {'solver': 'newton-cg'}

KNeighborsClassifier
--------------------
Best Score: 0.677524429967
Best Parameters: {'n_neighbors': 19, 'weights': 'uniform', 'algorithm': 'ball_tree', 'p': 1}

RandomForestClassifier
----------------------
Best Score: 0.817589576547
Best Parameters: {'min_samples_leaf': 1, 'n_estimators': 4, 'min_samples_split': 5, 'criterion': 'gini', 'max_features': 'log2', 'max_depth': 5}

[{'best_model': LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
            intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
            penalty='l2', random_state=None, solver='newton-cg', tol=0.0001,
            verbose=0, warm_start=False),
  'best_params': {'solver': 'newton-cg'},
  'best_score': 0.80618892508143325,
  'estimator': LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
            intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
            penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
            verbose=0, warm_start=False),
  'hyperparameters': {'solver': ['newton-cg', 'lbfgs', 'liblinear']},
  'name': 'LogisticRegression'},
 {'best_model': KNeighborsClassifier(algorithm='ball_tree', leaf_size=30, metric='minkowski',
             metric_params=None, n_jobs=1, n_neighbors=19, p=1,
             weights='uniform'),
  'best_params': {'algorithm': 'ball_tree',
   'n_neighbors': 19,
   'p': 1,
   'weights': 'uniform'},
  'best_score': 0.67752442996742668,
  'estimator': KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
             metric_params=None, n_jobs=1, n_neighbors=5, p=2,
             weights='uniform'),
  'hyperparameters': {'algorithm': ['ball_tree', 'kd_tree', 'brute'],
   'n_neighbors': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19],
   'p': [1, 2],
   'weights': ['distance', 'uniform']},
  'name': 'KNeighborsClassifier'},
 {'best_model': RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
              max_depth=5, max_features='log2', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=5,
              min_weight_fraction_leaf=0.0, n_estimators=4, n_jobs=1,
              oob_score=False, random_state=1, verbose=0, warm_start=False),
  'best_params': {'criterion': 'gini',
   'max_depth': 5,
   'max_features': 'log2',
   'min_samples_leaf': 1,
   'min_samples_split': 5,
   'n_estimators': 4},
  'best_score': 0.8175895765472313,
  'estimator': RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
              max_depth=None, max_features='auto', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
              oob_score=False, random_state=1, verbose=0, warm_start=False),
  'hyperparameters': {'criterion': ['entropy', 'gini'],
   'max_depth': [2, 5, 10],
   'max_features': ['log2', 'sqrt'],
   'min_samples_leaf': [1, 5, 8],
   'min_samples_split': [2, 3, 5],
   'n_estimators': [4, 6, 9]},
  'name': 'RandomForestClassifier'}]

In [139]:
    model=RandomForestClassifier(min_samples_leaf=1,n_estimators=4, min_samples_split= 5, criterion="gini", max_features="log2", max_depth= 5)

In [142]:
model.fit(train_df[features],train_df["Loan_Status"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='log2', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=4, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [148]:
test_df["Gender"]=test_df["Gender"].fillna(method="bfill")
test_df["Married"]=test_df["Married"].fillna(method="bfill")
test_df["Self_Employed"]=test_df["Self_Employed"].fillna(value="No")
test_df["Dependents"]=test_df["Dependents"].fillna(value="0")
test_df["LoanAmount"] = test_df["LoanAmount"].fillna(test_df["LoanAmount"].mean())
test_df["Loan_Amount_Term"] = test_df["Loan_Amount_Term"].fillna(test_df["Loan_Amount_Term"].mean())
test_df["Credit_History"]=test_df["Credit_History"].fillna(value="0.0")

In [150]:
testcols = [x for x in test_df.columns if x not in ["Loan_ID","ApplicantIncome","CoapplicantIncome","LoanAmount",]]

In [151]:
for col in testcols:
    test_df=create_dummies(test_df,col)

In [154]:
##dropping original columns to avoid dummy trap
test_df=test_df.drop(testcols,axis=1)
test_df=test_df.drop("Loan_ID",axis=1)

In [156]:
result=model.predict(test_df[features])

In [161]:
submissiondf=pd.DataFrame()
submissiondf["Loan_ID"]=test_df["Loan_ID"]
submissiondf["Loan_Status"]=result

In [162]:
submissiondf.to_csv("loan_amt.csv")